# dependencies
node_modules/

# environment variables
.env

# build output
dist/
build/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
backend/*.log
frontend/*.log

# system files
.DS_Store
Thumbs.db

# IDE files
.vscode/
.idea/
